<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

## Author:
Bill Louer

<h2 style='color:blue'>Excercise 2-  Create markdown cell with title of the notebook.</h2>

#  Data Science Tools and Ecosystem

<h2 style='color:blue'>Exercise 3 - Create a markdown cell for an introduction.</h2>

## In this notebook, Data Science Tools and Ecosystem are summarized.

<h2 style='color:blue'>Excercise 10 - Insert a markdown cell to list Objectives (after Excercise 3)</h2>

## **Objectives**:
-  List popular languages used for data science
-  List popuular data science libraries
-  List data science tools
-  Demonstrate the use of markdown headers
-  Demonstrate the use of markdown tables
-  Demonstrate arithemetic operations

<h2 style='color:blue'>Exercise 4 - Create a markdown cell to list data science languages</h2>

## Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java
5. C++
6. Scala
7. Javascript
8. Julia

<h2 style='color:blue'>Exercise 5 - Create a markdown cell to list data science libraries</h2>

##  Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib
4. Seaborn
5. Plotly
6. ScikitLearn
7. Keros
8. TensorFlow
9.  Pytorch

<h2 style='color:blue'>Exercise 6 - Create a markdown cell with a table of Data Science tools</h2>

| Data Science Tools |
| ------------------ |
| Jupyter Notebook and Jupyter Lab |
| R Studio |
| GitHub |

<h2 style='color:blue'>Exercise 7 - Create a markdown cell introducing arithmetic expression examples</h2>

###  Below are a few examples of evaluating arithmetic expressions in Python

<h2 style='color:blue'>Exercise 8 - Create a code cell to multiply and add numbers</h2>

In [7]:
#  This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

<h2 style='color:blue'>Exercise 9 - Create a code cell to convert minutes to hours</h2>

In [8]:
# This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335